<div class="container">
    <div class="row">
        <h2 class="col-5 bg-blue card mx-1">Year</h2>
        <h2 class="col-4 bg-blue card mx-1">Profit/loss</h2>
        <div class="col-6 card mx-1">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-4 card mx-1">
            <ul class="list-group">
                <li class="list-group-item">monthName total</li>
                <li class="list-group-item">monthName total</li>

            </ul>
        </div>
    </div>
</div>