<div class="container">

  <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
  <div class="row">
    <div class="col-6 col-md-4">Month Name</div>
    <div class="col-6 col-md-4">Running Total</div>
    <div class="col-6 col-md-4">Add Item</div>
  </div>

  <!-- Columns are always 50% wide, on mobile and desktop -->
  <div class="row">
    <div class="col-12">itemName|category|date|expense/profit|amount</div>
  </div>

  <div class="row">
    <div class="col-4">Back</div>
  </div>

</div>